img{
    height: 200px;
    width: 200px;
}

.color-title{
    font-weight: normal;
}

#red {
    color: rgb(206, 120, 120);
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green{
    color: green;
}

#yellow {
    color: yellow;
}
