*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  color: rgb(52, 52, 52);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(102, 191, 191);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

h2 {
  color: #00abb4;
  font-size: 20px;
  margin: 50px auto 0 auto;
  font-family: Fredoka;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #008b92;
  font-size: 1.17em;
  font-weight: bold;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color:#11999e;
  margin: 10px 20px;
  text-decoration:none;
}

.TopContainer {
  background-color: rgb(198, 237, 249);
  position: relative;
  padding-top: 100px;

  .leftCloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }

  .titleText h1 {
    color: #66bfbf;
    font-family: Dancing Script;
    font-size: 88px;
  }

  .AProgrammer {
    font-family: Dancing Script;
    font-size: 2.5rem;
    font-weight: Bold;
    color: #3e567c;
    padding-bottom: 10px;
  }

  .rightCloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
}

.middlePart {
  .profile {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .intro {
    width: 30%;
    margin: auto;
  }

  .Skills {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;z
  }
  
  .imageOfCat {
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .contactMessage {
    width: 40%;
    margin: 40px auto 60px;
  }

  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom:100px;
  text-decoration: none;
  }
}


.bottomContainer{
  background-color:#66bfbf;
  padding: 50px 100px 20px;
  margin-top: 50px;

  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
    margin-top: 20px;
  }
} 