*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  color: rgb(52, 52, 52);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2 {
  color: rgb(129, 129, 190);
  font-size: 20px;
  margin: 50px auto 0 auto;
  font-family: cursive;
  padding-bottom: 10px;
}

.h1 {
  color: rgb(102, 191, 191);
  ont-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.TopContainer {
  background-color: rgb(198, 237, 249);
  height: 100vh;
  position: relative;
  padding-top: 100px;

  .leftCloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }

  .titleText {
    color: #66bfbf;
    font-family: Dancing Script;
    font-size: 88px;
  }

  .AProgrammer {
    font-family: cursive;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .rightCloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
}

.middleContainer {
  .profile {
    margin-bottom: 100px;
  }
}
